body {
    width: 1000px;
    height: 600px;
    background: radial-gradient(circle, #66ff99, #33ccff);
    background-size: contain;
}

.edit_png {
    width: 32px;
    height: 32px;
    background-color: black
}

#cropButton {
    display: none;
}

#cropped {
    display: none;
}

/*#image {
    display: none;
}*/

.no_notes_des {
    width: max-content;
}

#loading,
#result,
#save {
    display: none;
}